* {
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    outline-style: none;
}

body {
    background: radial-gradient(orange, red);
    height: 100vh;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgba(0, 0, 0, 0.2);
    margin: 35px;
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
}

.containerFlex {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    width: 800px;
    align-self: center;
    justify-content: space-between;
}

.containerItem {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.02);
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 0, 0, 0.2);
}


.containerItem h2 {
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.3);
}

.balance {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    margin-left: 2px;
}

select {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: purple;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 2px;
    color: white;
    margin-top: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); 
}

option {
    border: none;
}

#featuresHeader {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

#features {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

button {
    background-color: purple;
    padding: 10px;  
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    transition: all 1s;
    margin-top: 20px;
}

.containerInfo button {
    background-color: yellow;
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    margin-top: 10px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 0px;
}

button:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.containerInfo {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 40px;
    padding: 30px;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 0, 0, 0.2);
}

.containerInfo img {
    height: 50px;
    margin: auto;
    margin-left: 10px;
    margin-right: 0px;
    align-items: center;
    transition: all 1s;
}

.containerInfo img:hover {
    transform: rotate(360deg);
}

.containerInfo h2 {
    color: rgba(0, 0, 0, 0.5);
}

.containerInfo p {
    color: rgba(0,0,0,0.3);
    font-weight: 600;
}

.containerInfo div:last-of-type {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    align-content: flex-end;
}

.containerInfo h3 {
    color: rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: bold;
}

#infoDiv {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 40px;
    padding: 15px;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

#infoText {
    color: white;
    margin-left: 20px;
}

#dismissButton {
    padding: 10px;
    background-color: green;
    color: white;
    transition: none;
    margin: auto;
    margin-right: 20px;
}
